.onboarding {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
 }
 .onboarding .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
 }
 .onboarding .overlap-group {
  position: absolute;
  width: 976px;
  height: 1080px;
  top: 0;
  left: 944px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
 }
 .onboarding .image {
  position: absolute;
  width: 129px;
  height: 136px;
  top: 928px;
  left: 803px;
  object-fit: cover;
 }
 .onboarding .frame {
  width: 944px;
  height: 1080px;
  top: 0;
  position: absolute;
  left: 0;
 }
 .onboarding .group {
  position: relative;
  width: 482px;
  height: 744px;
  top: 168px;
  left: 235px;
 }
 .onboarding .dorset-wallet {
  position: absolute;
  width: 218px;
  top: 0;
  left: 48px;
  font-family: "Inter-ExtraBold", Helvetica;}