<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Login Page Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/assets/css/style_acc.css">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/home">
            <center><img src="static\img\dorsetwallet.png" alt="centered image" height="128" width="195"> </center>
        </a>
    </header>

    <div class="section">
        <ul>

            <div class="account-info" id="current-account">
                <h2>Current Account</h2>
                <div class="balance" id="current-balance">Current: ${{ current }}</div>
                <div class="transaction-input" method = "POST">
                    <label for="current-amount">Enter amount:</label>
                    <form action="" class="the-form" method="POST">

                        {{ withdraw_current.amount_current }}
                        {{ deposit_current.deposit_current }}
                        {{ withdraw_current.withdraw_current }}
    
                    </form>
                    
                </div>
            </div>

            <li class="fb">
                <div class="account-info" id="savings-account">
                    <h2>Savings Account</h2>
                    <div class="balance" id="savings-balance">Savings: ${{ savings }}</div>
                    <div class="transaction-input" method = "POST">
                        <label for="savings-amount">Enter amount:</label>
                        <form action="" class="the-form" method="POST">

                            {{ withdraw_savings.amount_savings }}
                            {{ deposit_savings.deposit_savings }}
                            {{ withdraw_savings.withdraw_savings }}
        
                        </form>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>    
</body>

</html>