<!DOCTYPE html>
<html>
 <head>
 <link rel="stylesheet" href="static/globals.css" />
 <link rel="stylesheet" href="static/style.css" />
 </head>
 <body>
 <div class="onboarding">
 <div class="div">
 <div class="overlap-group"><img class="image" src="img/image-3.png" /></div>
 <div class="frame">
 <div class="group">
 <p class="dorset-wallet"><span class="text-wrapper">Dorset</span> <span class="span">Wal
 <p class="p">Control Your Mitcoins, Join Us Today !</p>
 <p class="text-wrapper-2">Fill the form below to create an account</p>
 <div class="frame-2">
 <img class="img" src="img/fi-mail.svg" />
 <div class="text-wrapper-3">pheroxios@yehudi.com</div>
 </div>
 <div class="frame-3">
 <img class="img" src="img/u-lock.svg" />
 <div class="text-wrapper-3">Password</div>
 </div>
 <div class="frame-4">
 <img class="img" src="img/image.svg" />
 <div class="text-wrapper-3">confirm Password</div>
 </div>
 <div class="div-wrapper"><div class="text-wrapper-4">Register</div></div>
 <p class="already-have-an">
 <span class="text-wrapper-5">Already have an account?</span>
 <span class="text-wrapper-6">&nbsp;&nbsp;Sigin</span>
 </p>
 <div class="frame-5">
 <img class="img" src="img/u-user.svg" />
 <div class="text-wrapper-3">pheroxiosyehudi</div>
 </div>
 <div class="ellipse"></div>
 </div>
 </div>
 </div>
 </div>
 </body>
</html>