<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Login Page Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/assets/css/style_employee.css">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="main-container">

        <div class="form-container">

            <div class="form-body">

                <a href="/home">
                    <center><img src="static\img\dorsetwallet.png" alt="centered image" height="128" width="195"> </center>
                </a>   

                <h2 class="title">Employee log in</h2>
                
                <!-- 
                <div class="social-login">
                    <ul>
                        <li class="google"><a href="#">Google</a></li>
                        <li class="fb"><a href="#">Facebook</a></li>
                    </ul>
                </div>            -->

                <div class="_or">or</div>

                <form action="" class="the-form">

                    <label for="Pin">Pin</label>
                    {{ form.pin }}

                    {{ form.submit }}

                </form>

            </div><!-- FORM BODY-->

            <div class="form-footer">
                <div>
                    <span>Client ?</span> <a href="/login_client">Log in</a>
                </div>

            </div><!-- FORM FOOTER -->

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html>